.*

archlinux/pkg
archlinux/src
archlinux/*.tar.gz
archlinux/*.pkg.tar.zst

genericbuild/src
genericbuild/*.tar.gz
genericbuild/coredns-ip-destination-guard

coverage.out
coverage.html

go.mod
go.sum

!.gitignore
