.*
!.gitignore
!.devcontainer

archlinux/*
!archlinux/coredns-ip-destination-guard.service
!archlinux/Corefile
!archlinux/PKGBUILD
!archlinux/plugin.cfg

genericbuild/*
!genericbuild/build.sh
!genericbuild/coredns-ip-destination-guard.service
!genericbuild/Corefile
!genericbuild/plugin.cfg
!genericbuild/README.md

testbuild/*
!testbuild/Corefile
!testbuild/plugin.cfg
!testbuild/prepare.sh

coverage.out
coverage.html

go.mod
go.sum
vendor/
