# This is my plugin.cfg, that I use to build my coredns instance.
# It brings along this plugin, as well as typically useful other plugins.
# If you want to have more or different plugins, add them to this
# list, but make sure ipdestinationguard is near to the top. Otherwise
# other plugins might answer the DNS requests, without giving
# ipdestinationguard a chance to inspect the response.

ipdestinationguard:github.com/sateffen/coredns-ip-destination-guard
#root:root
#metadata:metadata
#geoip:geoip
cancel:cancel
#tls:tls
#quic:quic
#grpc_server:grpc_server
#https:https
#https3:https3
#timeouts:timeouts
#multisocket:multisocket
reload:reload
#nsid:nsid
#bufsize:bufsize
bind:bind
#debug:debug
#trace:trace
ready:ready
health:health
#pprof:pprof
prometheus:metrics
errors:errors
log:log
#dnstap:dnstap
local:local
#dns64:dns64
#any:any
#chaos:chaos
#loadbalance:loadbalance
#tsig:tsig
cache:cache
#rewrite:rewrite
acl:acl
#header:header
#dnssec:dnssec
#autopath:autopath
minimal:minimal
#template:template
#transfer:transfer
hosts:hosts
#route53:route53
#azure:azure
#clouddns:clouddns
#k8s_external:k8s_external
#kubernetes:kubernetes
file:file
#auto:auto
#secondary:secondary
#etcd:etcd
#loop:loop
forward:forward
#grpc:grpc
#erratic:erratic
#whoami:whoami
#on:github.com/coredns/caddy/onevent
#sign:sign
#view:view
#nomad:nomad
