version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - go-cache:/home/dev/go
    command: sleep infinity

volumes:
  go-cache:
